*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
header{
    width: 100%;
    height: 20vh;
    background-color: #18386B;
    display: flex;
    justify-content: space-between;

}
.section-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 800;
}
.logo1{
    width: 130px;
    margin-left: 10px;
}
.logo2{
    width: 200px;
    margin-right: 20px;
}
main{
    width: 100%;
    height: 65vh;
    background-color: #E0E0E0;
}
.container{
    width:400px;
    height: 65vh;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
}
.container-login{
    border-bottom: .5px solid black;
}
.correo, .contra, .annio{
    display: flex;
}
h2{
    font-size: 2.8rem;
}
picture{
    display: flex;
    width: 100%;
    border-bottom: .5px solid rgb(88, 88, 88);
}
.face{
    margin-left: auto;
}
.call{
    margin-right: 10px;
    margin-left: 10px;
}
.face, .call{
    width: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.inputs{
    margin-top: 20px;
    margin-bottom: 20px;
}
.inputs input{
    width: 100%;
    height: 30px;
    font-size: 1.6rem;
}
input{
    margin-bottom: 25px;
}
.thebutton{
    margin-left: calc(50% - 50px);
}
.thebutton button{
    font-size: 1.2rem;
    width: 80px;
    height: 25px;
    color: white;
    background-color: #18386B;
    border: none;
    text-align: center;
}
.box{
    width: 30px;
    height: 30px;
    background-color: #E9ECEF;
    border-radius: 2px;
    margin-right: 5px;
}
footer{
    background-color: #8D8D8D;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.texto{
    font-size: 1.6rem
}